
APP_ENV=development
APP_DEBUG=true
APP_KEY=base64:nuPHPSecretKey12345678901234567890

BASE_DIR=/
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=nuphp

AUTH=false

SMTP_HOST=
EMAIL_NAMA="nuPHP Admin"
EMAIL_ADR="admin@nuphp.local"
EMAIL_PASS=

APP_VERSION=1.0.0
NUPHP=2.0.0

